[*.cs]

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = silent

# IDE0011: Add braces
csharp_prefer_braces = false
